    <header class="nav flex items-center items-baseline justify-between px-16 border-b-2 border-brand-light border-opacity-75">
      <h1 class="font-sans text-3xl sm:text-1xl"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <div class="align-text-bottom space-x-3.5">
      {%- for entry in collections.all | eleventyNavigation %}
      <a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </div>
    </header>
