---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% include "partials/_header.html" %}

<main>
  <div class="container px-6 sm:px-12 lg:px-48 pb-12 sm:pb-20 pt-4 sm:pt-8 leading-tight sm:leading-normal text-center sm:text-left m-auto">
    <div class="markdown">
      <article>
	<div class="text-4xl sm:text-4xl"> {{ title }}</div>
	{{ content | safe }}
      </article>
    </div>
  </div>
</main>

<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
