    <!-- Navigation -->
    <nav class="w3-bar w3-black w3-top">
        <a href="#" class="w3-button w3-bar-item w3-mobile"><h3>without blue</h3></a>
        <a href="index.html#about" class="w3-button w3-bar-item"><h4>about</h4></a>
    </nav>